<h2>Appointment</h2>

<h3>Booking Info</h3>
  
<%# Patient Info %>
<div>
  <p><%= @appointment.patient.full_name %></p>
  <a href="/admin/patients/<%= @appointment.patient.id %>">
    View Patient Profile
  </a>
</div>

<hr>

<%# Appointment Info %>
<div>
  <p><%= pretty_date(@appointment.date) %></p>
  <p>
    <%= pretty_time(@appointment.start_time) %> - 
    <%= pretty_time(@appointment.end_time) %>
  </p>

  <p>
    <%= @appointment.treatment.name %>
    (<%= @appointment.treatment.price%>)
  </p>

  <p><%= @appointment.staff.full_name %></p>
</div>

<%# Copy/Move/Edit/Delete %>
<div>
  <a href="/admin/appointments/<%= @appointment.id %>/edit">Edit</a>
  <a href="/admin/schedule/<%= @appointment.date %>">Back to Schedule</a>
</div>
