<%# Form for Editing a Staff Member %>
<h2>Edit Staff Member - <%= @staff_profile.full_name %></h2>

<%# Delete %>
<form class="delete" action="/admin/staff/<%= @staff_profile.id %>/delete" method="post">
  <button type="submit">Delete Staff Member</button>
</form>

<%# Edit %>
<form action="/admin/staff/<%= @staff_profile.id %>/edit" method="post">
  <div class="name-form">
    <div>
      <label for="first_name">First Name - Required</label>
      <input type="text" name="first_name" id="first_name"
        value="<%= prefill(:first_name, params, obj: @staff_profile) %>"> <%#required%>
    </div>
    
    <div>
      <label for="first_name">Last Name - Required</label>
      <input type="text" name="last_name" id="last_name"
        value="<%= prefill(:last_name, params, obj: @staff_profile) %>"> <%#required%>
    </div>
  </div>
  
  <div class="disciplines-form">
    <h3>Disciplines</h3>
    <fieldset>
      <% checkbox_group = 'discipline_ids' %>
      <% @disciplines.each do |discipline| %>
        <div>
          <input type="checkbox" name=<%= "#{checkbox_group}[]" %> id="<%= discipline.name %>"
            value="<%= discipline.id %>" 
            <%= 'checked' if prechecked?(checkbox_group, discipline.id, params, @staff_profile.disciplines) %>>
          <label for="<%= discipline.name %>"><%= discipline.name %></label>
        </div>
      <% end %>
    </fieldset>
  </div>

  <div class="contact-form">
    <h3>Contact Info</h3>
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" 
        value="<%= prefill(:email, params, obj: @staff_profile) %>">
    </div>
    
    <div>
      <label for="phone">Phone Number</label>
      <input type="tel" name="phone" id="phone" 
        value="<%= prefill(:phone, params, obj: @staff_profile) %>">
    </div>
  </div>

  <div class="bio-form">
    <h3>Bio</h3>
    <textarea name="biography" id="biography" 
      rows="10" cols="50"><%= prefill(:biography, params, obj: @staff_profile) %></textarea>
  </div>

  <%# Cancel/Submit  %>
  <div>
    <a href="/admin/staff/<%= @staff_profile.id %>"><button type="button">Cancel</button></a>

    <button type="submit">Save</button>
  </div>
</form>