<h2>New Appointment</h2>

<form action="/admin/appointments/new" method="post">
  <input type="hidden" name="practitioner_id" value="<%= @practitioner.id %>">

  <h4>Booking with <%= @practitioner.full_name %>:</h4>
  
  <hr>

  <div>
    <label for="treatment">Treatment</label>
    <select name="treatment_id" id="treatment">
      <% @treatments.each do |treatment| %>
        <option value="<%= treatment.id %>"><%= treatment.name %></option>
      <% end %>
    </select>
  </div>
  
  <hr>

  <div>
    <label for="patients">Patient</label>
    <select name="patient_id" id="patients">
      <% @patients.each do |patient| %>
        <option value="<%= patient.id %>"><%= patient.full_name %></option>
      <% end %>
    </select>
  </div>
  
  <hr>

  <div>
    <label for="time">Time</label>
    <input type="time" name="time" id="time">
    <input type="hidden" name="date" value="<%= @date %>">
    <p><%= pretty_date(@date) %></p>
  </div>

  <hr>

  <div>
    <a href="/admin/schedule/<%= @date %>">Cancel</a>
    <button type="submit">Book Appointment</button>
  </div>
  
</form>