<h2><%= @patient.full_name %></h2>

<%# Header %>
<a href="/admin/patients/<%= @patient.id %>">Profile</a>
<a href="/admin/patients/<%= @patient.id %>/edit">Edit</a>
<a href="">Appointments</a>

<div>Total Appointments: <%= @profile.total_appts %></div>

<%# Patient Info %>
<p><strong>Name:</strong> <%= @patient.full_name %></p>

<p>
  <strong>Phone:</strong> 
  <%= @patient.phone || 'No phone numbers' %>
</p>

<p>
  <strong>Email:</strong> 
  <%= @patient.email || 'No email address' %>
</p>

<% if @patient.birthday %>
  <p>
    <strong>Birthday:</strong> 
    <%= @patient.birthday %>
  </p>

  <p>
    <strong>Age:</strong> 
    <%= @patient.age %>
  </p>
<% end %>



