<h2><%= @patient_profile.full_name %></h2>

<%# Header %>
<a href="">Profile</a>
<a href="">Edit</a>
<a href="">Appointments</a>

<div>Total Appointments: <%= @patient_profile.appt_count %></div>

<%# Patient Info %>
<p><strong>Name:</strong> <%= @patient_profile.full_name %></p>

<p>
  <strong>Phone:</strong> 
  <%= @patient_profile.phone || 'No phone numbers' %>
</p>

<p>
  <strong>Email:</strong> 
  <%= @patient_profile.email || 'No email address' %>
</p>

<% if @patient_profile.birthday %>
  <p>
    <strong>Birthday:</strong> 
    <%= @patient_profile.birthday %>
  </p>

  <p>
    <strong>Age:</strong> 
    <%= @patient_profile.age %>
  </p>
<% end %>



