<%# Admin Schedule  %>

<%# Date Navigation %>
<h2><%= @date %></h2>

<a href="/admin/schedule/<%= @yesterday %>"><button><</button></a>
<a href="/admin/schedule"><button>Today</button></a>
<a href="/admin/schedule/<%= @tomorrow %>"><button>></button></a>

<form action="/admin/schedule/redirect">
  <input type="date" name="date" value=<%= params[:date] || @date %>>
  <button type="submit">Go to Date</button>
</form>


<%# Display Schedule: Disciplines-Practitioners-Appointments %>
<%# Empty (No Practitioners) %>
<% if @schedule.empty? %>
  <p>Hmm...you don't have any practitioners scheduled for today.</p>
<% else %>
  <ul class='discipline-list'>
  <% @schedule.each do |discipline, practitioners| %>
    <li>
      <%# Disciplines %>
      <%= discipline %>
      <ul class='practitioner-list'>   
      <% practitioners.each do |staff_id, practitioner| %>
        <li>
          <%# Practitioners %>
          <%= practitioner.full_name %>
          <ul class='appointment-list'>
            <% practitioner.schedule.each do |appointment| %>
              <li>
                <%# Appointments %>
                <a href="/admin/appointments/<%= appointment.id %>">
                  <%= pretty_time(appointment.start_time) %> -
                  <%= pretty_time(appointment.end_time) %>:
                  <%= appointment.patient.full_name %> -
                  <%= appointment.treatment.name %>
                </a>
              </li>
            <% end %>
          </ul>

          <%# New Appointment (per-practitioner) %>
          <form action="/admin/appointments/new" method="get">
            <input type="hidden" name="practitioner_id" 
              value="<%= practitioner.id %>">
            <input type="hidden" name="date"
              value="<%= @date %>">
            <button type="submit">New Appointment</button>
          </form>
        </li>

        
      <% end %>
      </ul>
      <hr>
    </li>
  <% end %>
  </ul>
<% end %>

