<h2><%= @staff_profile.full_name %></h2>

<a href="/admin/staff/<%= @staff_profile.id %>/edit">Edit</a>

<p><strong>Name:</strong> <%= @staff_profile.full_name %></p>

<p>
  <strong>Disciplines:</strong>
  <%= @staff_profile.disciplines.join(', ') %>
</p>

<p><strong>Email:</strong> <%= @staff_profile.email || 'No Email Address' %></p>

<p><strong>Phone Number:</strong> <%= @staff_profile.phone || 'No Phone Number' %></p>

<% unless @staff_profile.biography.empty? %>
  <p><strong>Bio:</strong> <%= @staff_profile.biography %></p>
<% end %>