<h2>Treatments</h2>

<a href="/admin/treatments/new">New Treatment</a>

<% @disciplines.each do |discipline| %>
  <h4><%= discipline.name %></h4>

  <ol>
  <% @treatments_by_discipline[discipline.id].each do |treatment| %>
    <li>
      <p><%= treatment.name %></p>
      <p>Treatment Length: <%= treatment.length %> minutes</p>
      <p>Price: <%= pretty_price(treatment.price) %></p>
      <a href="/admin/treatments/<%= treatment.id %>/edit">Edit Treatment</a>
    </li>
  <% end %>
  </ol>
<% end %>
